:root {
  --pink: #BF1D90;
  --pink-dark: #93166F;
  --pink-light: #E65CBE;
  --teal: #0F6465;
  --teal-dark: #0C4E4F;
  --teal-light: #09B0B2;
  --epic: #6f42c1;
  --rare: #0d6efd;
  --uncommon: #198754;
  --common: #6c757d;
  --text-muted: #6c757d;
  --text-light: #f8f9fa;
  --dark: #212529;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Twitter Emoji */
img.emoji {
  width: 1.5rem;
  pointer-events: none;
}

/* Bootstrap Overrides */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-tabs {
  border-color: rgba(108, 117, 125, 0.4);
}

.nav-tabs .active {
  background-color: transparent !important;
  border-bottom: solid 2px var(--teal-light) !important;
}

.nav-link {
  color: var(--text-muted);
  border: none !important;
}

.nav-link:hover {
  color: var(--text-light);
}

.nav-link.active {
  color: var(--text-light) !important;
}

/* Custom text colours */
.text-pink {
  color: var(--pink);
}

.text-pink-dark {
  color: var(--pink-dark);
}

.text-pink-light {
  color: var(--pink-light);
}

.text-teal {
  color: var(--teal);
}

.text-teal-dark {
  color: var(--teal-dark);
}

.text-teal-light {
  color: var(--teal-light);
}

/* Custom border colours */
.border-pink {
  border-color: var(--pink) !important;
}

.border-pink-dark {
  border-color: var(--pink-dark) !important;
}

.border-pink-light {
  border-color: var(--pink-light) !important;
}

.border-teal {
  border-color: var(--teal) !important;
}

.border-teal-dark {
  border-color: var(--teal-dark) !important;
}

.border-teal-light {
  border-color: var(--teal-light) !important;
}

/* Custom button colours */
.btn-pink {
  background-color: var(--pink);
  color: white;
}

.btn-pink:hover {
  color: #fff;
  background-color: var(--pink-dark);
  border-color: var(--pink-dark);
}

.btn-check:focus+.btn-pink, .btn-pink:focus {
  color: #fff;
  background-color: var(--pink-dark);
  border-color: var(--pink-dark);
  box-shadow: 0 0 0 .25rem rgba(147, 22, 111, .5);
}

.btn-pink-light {
  background-color: var(--pink-light);
  color: var(--dark);
}

.btn-pink-light:hover {
  color: var(--dark);
  background-color: var(--pink);
  border-color: var(--pink);
}

.btn-check:focus+.btn-pink-light, .btn-pink-light:focus {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
  box-shadow: 0 0 0 .25rem rgba(12, 78, 79, .5);
}

.btn-teal {
  background-color: var(--teal);
  color: white;
}

.btn-teal:hover {
  color: #fff;
  background-color: var(--teal-dark);
  border-color: var(--teal-dark);
}

.btn-check:focus+.btn-teal, .btn-teal:focus {
  color: #fff;
  background-color: var(--teal-dark);
  border-color: var(--teal-dark);
  box-shadow: 0 0 0 .25rem rgba(12, 78, 79, .5);
}

.btn-teal-light {
  background-color: var(--teal-light);
  color: var(--dark);
}

.btn-teal-light:hover {
  color: var(--dark);
  background-color: var(--teal);
  border-color: var(--teal);
}

.btn-check:focus+.btn-teal-light, .btn-teal-light:focus {
  color: #fff;
  background-color: var(--teal);
  border-color: var(--teal);
  box-shadow: 0 0 0 .25rem rgba(12, 78, 79, .5);
}

/* Index Page */
.avatar {
  height: 10rem;
}

.headline {
  height: 4rem;
}

/* Stuff Page */
.card.bg-black {
  border-color: rgba(108, 117, 125, 0.35);
  box-shadow: 0px 5px 25px 0px rgba(, 0, 0, 0.4);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
}

.list-group-item.bg-black {
  border-color: rgba(108, 117, 125, 0.35);
}

.card-zoom:hover {
  border-color: rgba(108, 117, 125, 0.4);
  box-shadow: 0px 5px 25px 0px rgba(, 0, 0, 0.6);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.6);
  transform: scale(1.025);
  transition: transform 0.6s ease;
}

/* WoW Professions */
.form-select {
  border-color: #373b3e;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  //background-color: var(--teal-dark) !important;
}

/* Wowhead Colors */
.quality-a335ee a {
  color: var(--epic) !important;
}

.quality-a335ee:hover {
  background-color: var(--epic) !important;
}

.quality-0070dd a {
  color: var(--rare) !important;
}

.quality-0070dd:hover {
  background-color: var(--rare) !important;
}

.quality-1eff00 a {
  color: var(--uncommon) !important;
}

.quality-1eff00:hover {
  background-color: var(--uncommon) !important;
}

.quality-ffffff a {
  color: var(--common) !important;
}

.quality-ffffff:hover {
  background-color: var(--common) !important;
}

a.wowhead-link {
  text-decoration: none !important;
}

a.wowhead-link:hover {
  color: white !important;
}

.professions-output {
  max-height: 30rem;
}

/* Cartwall Page */
.cartwall-audio-play {
  // background-color: var(--pink) !important;
}

.cartwall-audio-paused {
  //background-color: var(--teal) !important;
}

.playback-btn {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}